<!DOCTYPE html>
<html>
  
  <head>
    <title> Orcanized Chaos </title>
      <!-- To change domain image, use 32px x 32px png -->
      <link rel="icon" href="../images/Logo.png" type="photos/x-icon">
  </head>  
  
  <body>
    <center>
    <div class="flex-container9">

      <div><h1> <font size="+10"> My Profile       
        <br><br>
        </font>
        Welcome, {{ username }}!!
        <font size="-1"> 
          <br>
          <a href="{{ url_for('logout') }}">Logout</a>
        </font>
        <br><br>
        </h1></div>
  </center>
  </body>
  
<center>
<footer>
  <p>Brought to you by LT William's Mighty Minions</p>
</footer>
</center>
  
</html>
